<% include templates/header.ejs %>

<div class="ui main text container segment">
<% for(var i=0;i<blog_create.length;i++){%>
     <h1><%= blog_create[i].title %></h1>
     <img class="ui image" src="<%=  blog_create[i].image%>" width="500px" height="400px">
	 <span><strong><p>Blog created on <em><%= blog_create[i].created.toDateString()%></em></p></strong></span>
     <p><%= blog_create[i].body.substring(0,100)%>...</p> <!-- it will show first 100 char only -->
	 <a href="/blogs/<%=blog_create[i]._id%>" class="ui basic blue button">More info...</a>  <!-- blog_create is that blog whose is is being taken-->
<%}%>
</div>
<% include templates/footer.ejs %>